<div style="background-color:cornflowerblue">
    <h1 style="background-color:white;padding-bottom: 1cm"></h1>
  <h1></h1>
    <div class="ui main text container">
    <div class="ui horizontal list">
      <div class="item">
        <img class="ui tiny avatar image" src="/assets/images/gefffoto.jpg">  
        <div class="content">
        <h3 style="color: white" class="ui header">Gefferson Pires</h3>
        <p style="color: white">Graduando em LCC<a style="color: white" href="https://github.com/geffpires"><br><b> github</b><i class="github icon"></i></a></p>
      </div>
      </div>
      <div class="item">
        <img class="ui tiny avatar image" src="/assets/images/gersonft.jpg">  
        <div class="content">
        <h3 style="color: white" class="ui header">Gerson Vieira</h3>
        <p style="color: white">Graduando em LCC<a style="color: white" href="https://github.com/gersonvieira"><br><b> github</b><i class="github icon"></i></a></p>
      </div>
      </div>
    </div>
  </div>
    <h1></h1> 
  </div>