
<div class="ui main text container">
  <form class="ui form">
    <div class="field">
      <label>Nome</label>
      <input type="text" name="Nome" placeholder="Nome" [ngModel]="nome">
    </div>
    <div class="field">
      <label>Sobrenome</label>
      <input type="text" name="sobrenome" placeholder="Sobrenome" [ngModel]="sobrenome">
    </div>
    <div class="field">
      <label>E-mail</label>
      <input type="text" name="email" placeholder="E-mail" [ngModel]="email">
    </div>
    <div class="field">
      <label>Senha</label>
      <input type="text" name="senha" placeholder="Senha" [ngModel]="senha">
    </div>
    <div class="field">
      <label>Confirmar senha</label>
      <input type="text" name="re-senha" placeholder="Confirmar senha" [ngModel]="resenha">
    </div>

    <button class="ui button" type="submit">Cadastrar</button>
  </form>
</div>
