p{
    margin-bottom: 0cm
}
.container{
    margin-top: 1cm;
    display: table
}
.ui.tiny.button{
    padding: 0.15cm;
    margin: 0cm
}
h1{
    float: right;
    margin-top: 0.5em

}
.item{
    float: left;
    margin-bottom: 0.5cm;
    margin-left: 0.5cm
}
p{
    font-size: 80%
}
b{
    font-size: 80%
}
