<div class="container">
<div class="item ui stackable two column grid">
  <div class="column">
  <img class="ui small avatar image" src={{user.getImagem()}}>
    <h1 style="color: white">{{user.getNome()}}
    <p></p>
    <button class="ui tiny button" routerLink="editar">Editar Perfil</button>
    <button [routerLink]="['../seguidores']" class="ui tiny button">Seguidores</button></h1>
    </div>
    <div class="item" *ngFor="let filme of favoritos">
      <app-filme [filme]='filme'></app-filme>
    </div>
    
</div>
</div>
