

<div class="ui main text container">
  <form class="ui form">
    <h4 class="ui dividing header">Cadastro de Filme</h4>
    <div class="field">
      <label>Nome do Filme</label>
      <input #vNome type="text" name="nome" placeholder="Nome" [ngModel]="login">
    </div>
    <div class="field">
      <label>Url da imagem</label>
      <input #vImagem type="text" name="url" placeholder="Url" [ngModel]="URLImagem">
    </div>
    <div class="field">
      <label>Categoria:  Ação, Animação, Aventura, Clássico, Comédia, Drama, Especiais, Romance, Suspense ou Terror</label>
      <input #vCategoria type="text" name="Categoria" placeholder="Categoria" [ngModel]="Categoria">
    </div>

    

  </form>
  <button class="ui button" (click)="cadastrar(vNome.value,vImagem.value,vCategoria.value)" type="submit">Cadastrar</button>
</div>
