<div class="ui segment">
        <form>
        <div class="container">
                <div class="item"><img class="ui small avatar image" src='https://avatars0.githubusercontent.com/u/45407112?s=400&v=4'>   
                
                </div>
                <input class="ui input" type="file" accept=".jpg ">
        </div>
        </form>
        
    <div class="ui form">
        <div class="two fields">
                <div class="field">
                        <input type="text" placeholder="Nome" maxlength="15">
                </div>
                <div class="field">
                        <input type="text" placeholder="Sobrenome" maxlength="20">
                </div>
        </div>
        <div class="ui inverted divider"></div>
        <div>
                <input type="text" placeholder="Descrição" maxlength="60">
           </div>
        <div class="ui inverted divider"></div>
        <div>
             <input type="text" placeholder="E-mail">
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui positive message" *ngIf='isMostrarMensagem()==true'>
                <i class="close icon" (click)='tirarMensagem()'></i>
                <div class="header">
                  Informações salvas com sucesso
                </div>
              </div>
        <button class="ui button" (click)='mostrarMensagem()'>Salvar</button>
    </div>
</div>
    
        <form>
                <button class="ui button" routerLink="..">Voltar</button>          
        </form>