<div class="ui main text container">
<div class="ui segment">
        <form>
        <div class="container">
                <div class="item"><img class="ui small avatar image" src='{{getImage()}}'>   
                
                </div>
                <div class="ui input">
                                <div class="ui right pointing label">
                                                URL foto
                                              </div>
                        <input #valor  type="text" >
                        <button class="ui button" (click)='setImage(valor.value)'>Visualizar</button>
                </div>
                
        </div>
        </form>
        
    <div class="ui form">
        <div class="two fields">
                <div class="field">
                        <input type="text" placeholder="Nome" maxlength="15">
                </div>
                <div class="field">
                        <input type="text" placeholder="Sobrenome" maxlength="20">
                </div>
        </div>
        <div class="ui inverted divider"></div>
        <div>
                <input type="text" placeholder="Descrição" maxlength="60">
           </div>
        <div class="ui inverted divider"></div>
        <div>
             <input type="text" placeholder="E-mail">
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui positive message" *ngIf='isMostrarMensagem()==true'>
                <i class="close icon" (click)='tirarMensagem()'></i>
                <div class="header">
                  Informações salvas com sucesso
                </div>
              </div>
        <button class="ui button" (click)='mostrarMensagem()'>Salvar</button>
    </div>
</div>
    
        <form>
                <button class="ui button" routerLink="..">Voltar</button>          
        </form>
</div>