<div style="background-color: rgb(255, 6, 6)" class="ui top fixed menu">
    <div class="item">
        <img class="ui avatar image" *ngIf="isLoggedIn()" routerLink='/perfil' src={{imagemUser()}}>
        <img *ngIf="!isLoggedIn()" src="../assets/images/movieicon.png">

    </div>
    <a [routerLink]="['']" class="item">Home</a>
    <a *ngIf="!isLoggedIn()" [routerLink]="['login']" class="item">Sign-in</a>
    <a *ngIf="isLoggedIn()" [routerLink]="['cadastro-filme']" class="item">Cadastrar Filme</a>
    <a *ngIf="isLoggedIn()" [routerLink]="['']" (click)="logOut()" class="item">Sign-out</a>
</div>
