<div class="ui inverted segment">
  <div class="ui inverted form">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="First Name" type="text">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" name="myFile" type="file">
      </div>
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the terms and conditions</label>
      </div>
    </div>
    <div class="ui submit button">Submit</div>
  </div>
</div>
<div class="field">
        <label>Last Name</label>
        <input placeholder="Last Name" name="myFile" type="file">
      </div>

      <div class="ui action input">
            <input accept=".jpg;.png"  type="file" name="asd" placeholder="Search..." (change)='inputFileChange($event)'>
            <button class="ui button">Search</button>
          </div>
<img src="getImage()" alt="10">
