<div class="ui container">
    <div class="row">
        <div class="column">
            <div class="ui card">
                <div class="extra content">
                    <div class="ui two buttons">
                      <div class="ui button">Favoritar</div>
                      <div class="ui button">Decline</div>
                    </div>
                  </div>
                <div class="image">
                    <img src="{{getImagemFilme()}}">  
                </div>
                <div class="content">
                  <a class="header">Soraka</a>
                  <div class="meta">
                    <span class="date">Joined in 2013</span>
                  </div>
                  <div class="description">
                    Kristy is an art director living in New York.
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    22 Friends
                  </a>
                </div>
              </div>

              <div class="ui card">
                  <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui button">Favoritar</div>
                        <div class="ui button">Decline</div>
                      </div>
                    </div>
                  <div class="image">
                      <img src="{{getRecomendado1()}}">  
                  </div>
                  <div class="content">
                    <a class="header">Soraka</a>
                    <div class="meta">
                      <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                      Kristy is an art director living in New York.
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      22 Friends
                    </a>
                  </div>
                </div>
        </div>
        <div class="column">
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                <div class="comment">
                  <a class="avatar">
                    <img src="https://avatars0.githubusercontent.com/u/45407112?s=400&v=4">
                  </a>
                  <div class="content">
                    <a class="author">Matt</a>
                    <div class="metadata">
                      <span class="date">Today at 5:42PM</span>
                    </div>
                    <div class="text">
                      How artistic!
                    </div>
                    <div class="actions">
                      <a class="reply">Reply</a>
                    </div>
                  </div>
                </div>
                <div class="comment">
                  <a class="avatar">
                    <img src="https://avatars0.githubusercontent.com/u/45407112?s=400&v=4">
                  </a>
                  <div class="content">
                    <a class="author">Elliot Fu</a>
                    <div class="metadata">
                      <span class="date">Yesterday at 12:30AM</span>
                    </div>
                    <div class="text">
                      <p>This has been very useful for my research. Thanks as well!</p>
                    </div>
                    <div class="actions">
                      <a class="reply">Reply</a>
                    </div>
                  </div>
                  <div class="comments">
                    <div class="comment">
                      <a class="avatar">
                        <img src="https://avatars0.githubusercontent.com/u/45407112?s=400&v=4">
                      </a>
                      <div class="content">
                        <a class="author">Jenny Hess</a>
                        <div class="metadata">
                          <span class="date">Just now</span>
                        </div>
                        <div class="text">
                          Elliot you are always so right :)
                        </div>
                        <div class="actions">
                          <a class="reply">Reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="comment">
                  <a class="avatar">
                    <img src="https://avatars0.githubusercontent.com/u/45407112?s=400&v=4">
                  </a>
                  <div class="content">
                    <a class="author">Joe Henderson</a>
                    <div class="metadata">
                      <span class="date">5 days ago</span>
                    </div>
                    <div class="text">
                      Dude, this is awesome. Thanks so much
                    </div>
                    <div class="actions">
                      <a class="reply">Reply</a>
                    </div>
                  </div>
                </div>
                <form class="ui reply form">
                  <div class="field">
                    <textarea></textarea>
                  </div>
                  <div class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Add Reply
                  </div>
                </form>
              </div>

              <div class="ui card">
                  <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui button">Favoritar</div>
                        <div class="ui button">Decline</div>
                      </div>
                    </div>
                  <div class="image">
                      <img src="{{getRecomendado2()}}">  
                  </div>
                  <div class="content">
                    <a class="header">Soraka</a>
                    <div class="meta">
                      <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                      Kristy is an art director living in New York.
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      22 Friends
                    </a>
                  </div>
                </div>
            </div>
        </div>
      </div>
      
      <button class="ui green button" (click)="passarRecomendado()">mudar</button>
      <button class="ui red button" (click)="voltarRecomendado()">mudar</button>
      
      <div class="row">
      <div class="columm">
      
      </div>
        
      <div class="columm">
        
          </div>

        </div>