
<div class="ui stackable two column grid">
  <div class="column">
      <h4 class="ui dividing header">Seguindo</h4>
      <div class="ui divided items">
          <div class="item">
            <div class="ui tiny avatar image">
              <img src="https://avatars1.githubusercontent.com/u/20545738?s=460&v=4">
            </div>
            <div class="middle aligned content">
              Douglas
            </div>
          </div>
          <div class="item">
            <div class="ui tiny avatar image">
              <img src="https://avatars1.githubusercontent.com/u/38105241?s=400&u=a98ce3dc642501c5a581a68464357b41aa47edfc&v=4">
            </div>
            <div class="middle aligned content">
              Francisco
            </div>
          </div>
        </div>
  </div>
  <div class="column">
    <h4 class="ui dividing header">Seguindores</h4>
    <div class="ui divided items">
        <div class="item">
          <div class="ui tiny avatar image">
            <img src="https://avatars1.githubusercontent.com/u/20545738?s=460&v=4">
          </div>
          <div class="middle aligned content">
            Douglas Cardins
          </div>
        </div>
        <div class="item">
          <div class="ui tiny avatar image">
            <img src="https://avatars1.githubusercontent.com/u/38105241?s=400&u=a98ce3dc642501c5a581a68464357b41aa47edfc&v=4">
          </div>
          <div class="middle aligned content">
            Francisco das Chagas
          </div>
        </div>
        <div class="item">
            <div class="ui tiny avatar image">
              <img src="http://localhost:4200/assets/images/gersonft.jpg">
            </div>
            <div class="middle aligned content">
              Gerson Pires
            </div>
          </div>
      </div>
  </div>

</div>
