


<div >
  <div style="background-color: cornflowerblue" class="ui top fixed menu">
    <div class="item">
      <img src="../favicon.ico">
    </div>
    <a [routerLink]="['']" class="item">Home</a>
    <a [routerLink]="['login']" class="item">Sign-in</a>
  </div>
  <div class="ui menu" style="margin-top:1.5cm">
    <div class="ui container">
      <div class="ui item borderless">
          <h1 class="ui header">{{getHeader()}}</h1>
      </div>
    </div>
  </div>
  <div class="ui container">
    <router-outlet></router-outlet>
</div>
  <app-rodape></app-rodape>
  </div>
