<div class="ui twelve fluid buttons">
    <button class="ui {{corBotoes[0]}} button" (click)='mudarCorBotao(0)'>Todos</button>
    <button class="ui {{corBotoes[1]}} button" (click)='mudarCorBotao(1)'>Ação</button>
    <button class="ui {{corBotoes[2]}} button" (click)='mudarCorBotao(2)'>Animação</button>
    <button class="ui {{corBotoes[3]}} button" (click)='mudarCorBotao(3)'>Aventura</button>
    <button class="ui {{corBotoes[4]}} button" (click)='mudarCorBotao(4)'>Clássico</button>
    <button class="ui {{corBotoes[5]}} button" (click)='mudarCorBotao(5)'>Comédia</button>
    <button class="ui {{corBotoes[6]}} button" (click)='mudarCorBotao(6)'>Drama</button>
    <button class="ui {{corBotoes[7]}} button" (click)='mudarCorBotao(7)'>Especiais</button>
    <button class="ui {{corBotoes[8]}} button" (click)='mudarCorBotao(8)'>Romance</button>
    <button class="ui {{corBotoes[9]}} button" (click)='mudarCorBotao(9)'>Suspense</button>
    <button class="ui {{corBotoes[10]}} button" (click)='mudarCorBotao(10)'>Terror</button>
  </div>
