<div class="ui twelve fluid buttons">
    <button class="ui button">Todos</button>
    <button class="ui button">Ação</button>
    <button class="ui button">Animação</button>
    <button class="ui button">Aventura</button>
    <button class="ui button">classico</button>
    <button class="ui button">Comédia</button>
    <button class="ui button">Drama</button>
    <button class="ui button">Especiai</button>
    <button class="ui button">Romance</button>
    <button class="ui button">Suspense</button>
    <button class="ui button">Terror</button>
  </div>
