/* You can add global styles to this file, and also import other style files */
@import '../node_modules/semantic-ui-css/semantic.min.css';

.ui.card{
    height: 100%;
    width: 3.8cm;
}



body{
    background-color: rgb(243, 246, 250)
}
